@import 'src/variables';
@import 'src/mixins';

.project {
  box-shadow: (0 -1px 4px rgba($black, 0.3),
    inset 0 1px 1px rgba($light-cream, 0.1));
  display: block;
  padding: 30px 0 50px;
  line-height: 24px;

  a {
    transition: all .3s;

    &:hover {
      color: $light-cream;
      text-shadow: 0 0 8px rgba($white, 0.15);
    }
  }

  .project-title {
    font-size: 20px;
    line-height: 32px;
    color: $cream;

    &:before {
      content: '';
      display: block;
    }

    @media (min-width: $medium-screens) {
      font-size: 23px;
      line-height: 35px;
    }
  }

  @media (min-width: $small-screens) {
    padding: 60px 0 80px;
  }

  @media (min-width: $medium-screens) {
    padding: 110px 0 130px;
  }
}

.projectInner {
  @include container;
}
