* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  font: 100% $serif;
  color: $cream;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  @include transition(color .3s);
  color: $gray;
  &:hover {
    color: $orange;
  }
}

.container {
  min-width: 768px;
  max-width: 768px;
  margin: 0 auto;
  &.container-soapbox {
    padding: 46px 365px 0 70px;
    text-align: left;
  }
  @media (min-width: 769px) {
    width: auto;
    min-width: 960px;
    max-width: 960px;
    &.container-soapbox {
      padding: 46px 500px 0 125px;
    }
  }
}