* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  text-align: center;
  font: 100% $serif;
  color: $cream;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  @include transition(color .3s);
  color: $gray;
  &:hover {
    color: $orange;
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;
  &.container-soapbox {
    padding: 85px 355px 0 70px;
    text-align: left;
  }
}