$white:       #fff;
$light-gray:  #c6c7c9;
$gray:        #554329;
$dark-gray:   #201c18;

$light-cream: #fbe7ca;
$cream:       #fed9a5;
$dark-red:    #510404;
$brown:       #2C1A08;

$sans-serif:  'Dosis', Arial, "Helvetica Neue", Helvetica, sans-serif;
// $decorative:  'Dosis', Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif:  'Merriweather', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;